%h1 商品一覧

= link_to '新規登録', new_admins_product_path, class: 'btn btn-primary mb-3'

%table.table.table-bordered
  %thead
    %tr
      %th
      %th= Product.human_attribute_name(:name)
      %th= Product.human_attribute_name(:price)
      %th= Product.human_attribute_name(:price_with_tax)
 
  %tbody{ 'data-controller': 'sortable', 'data-sortable-animation-value': 150, 'data-sortable-handle-value': '.handle' }
    - @products.each do |product|
      %tr{ 'data-sortable-update-url': admins_products_display_order_path(product) }
        %td.handle.cursor-move
          %i.bi.bi-arrows-vertical
        %td= link_to product.name, admins_product_path(product)
        %td= number_to_currency(product.price)
        %td= number_to_currency(product.price_with_tax)
